.App {
  text-align: center;
}
.sidebar {
  width: 10%;
  position: fixed;
  top: 10%;
  left: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  background-color: #f0f0f0;
  overflow-y: auto;
}
