.header{
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    background-color: rgb(2, 2, 60);
}
.inputs{
    position: relative;
    display: inline-block;
    width: 40rem;
}

.header input{
    padding: 0.5rem;
    width: 30rem;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.dropdown-btn{
    padding: 0.5rem;
    width: 10rem;
    border: none;
    background-color: #f0f0f0;
    color: black;
    cursor: pointer;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
}

.dropdown-menu{
    position: absolute;
    background-color: #f9f9f9;
    min-width: 10rem;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    display: block;
}
.dropdown-menu a {
    color: black;
    padding: 0.5rem;
    text-decoration: none;
    display: block;
}
.dropdown-menu a:hover {
    background-color: #ddf5f7;
}