.navbar {
    background-color: #f0f0f0;
    color: black;
    overflow: hidden;
    padding: 0.5rem 0;
    border-radius: 1rem;
}
.navlinks {
  list-style: none;
  margin: 0.3rem;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.navlinks li {
  padding: 0.5rem 0;
  margin: 0.3rem 0;
  border-bottom: white solid 0.05rem;
  border-radius: 0.5rem;
  overflow: auto;
}

.navlinks a {
  color: black;
  text-decoration: none;
}
.navlinks li:hover{
  background-color: green;
}
